bin/
obj/
logs/
Upload/
packages/
.vs/
.idea/
LocalData.xml
*.suo
*.user
EQuality/EQuality.MES.NEVS/Web/Areas/
node_modules/
/EQuality/EQuality.JAC.FAS/Web/Areas
/EQuality/packages/Microsoft.Net.Compilers.2.6.0/tools
/EQuality/EQuality.MES.NEVS/Web/Properties/PublishProfiles
/EQuality/Demo/dongfeng
/EQuality/EQuality.MES.AVI/Web/Views/Front/Front.zip
/EQuality/EQuality.MES.EPS/HandheldComputersService/EQuality.MES.EPS.HandheldComputersService_TemporaryKey.pfx
/EQuality/EP防错测试工具/RESULTS/1/20180823
/EQuality/EP防错测试工具/log/T1
/EQuality/EQuality.SITSync/WindowsService
/.idea/.idea.Deploy/.idea/.name
